* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  transition: all 0.3s;
}

@font-face {
  font-family: "someFont";
  src: url("../public/fonts/SimplonNorm_Regular.otf") format("opentype");
}

a {
  color: inherit;
  text-decoration: none;
  text-underline-offset: 3px;
}

body {
  font-family: someFont;
  letter-spacing: 1.5px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: #252020;
}
